#loader{

    width:50%;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

#resultDiv{
    -moz-box-shadow: 5px 5px 20px #333;
    -webkit-box-shadow: 5px 5px 20px #333;
    -o-box-shadow: 5px 5px 20px #333;
    box-shadow: 5px 5px 20px #333;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#top-5{

    text-size:50%;
}